.next-video {

    list-style-type: none;

    &__heading {
        color: #AFAFAF;
        margin-left: 1rem;
    }

    &__container {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 10px;
    }

    // &__image-container {

    // }

    &__image {
        height: 70px;
        width: 110px;
        border-radius: 4px;
        background-color: #E1E1E1;
    }

    &__detail {
        margin-left: 10px;
    }
}