@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/fonts" as *;

.hero-video {
    width: 100%;
    display: flex;

    &__player {
        width: 100%;
        background-color: #000000;
        background-position: center;
        background-size: cover;
        content: url("https://project-2-api.herokuapp.com/stream");

        @include mobile {
            height: 10.9375rem;
        }

        @include tablet {
            height: 28.125rem;
        }
    }

}