@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/fonts" as *;

.form-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;

    @include mobile {
      margin-left: 20px;
    }
  
    @include tablet {
      margin-left: 175px;

    }
  
    &__header {
      display: flex;
      width: 100%;
    }
  
    &__container {
      display: flex;

      padding-bottom: 1rem;
      // border-bottom: 1px solid #e1e1e1;
    }
  
    // &__image {
    //   display: inline-flex;
    //   align-items: center;
    //   margin-top: auto;
    // }
  
    // &__login-image {
    //   border-radius: 50%;
    //   height: 2.5rem;
    //   width: 2.5rem;
    //   margin-left: 0rem;
    // }
  
    &__content {
      display: inline-flex;
      flex-direction: column;
      width: 70%;
      margin-left: 35px;
    }
  
    &__subheading {
      color: #AFAFAF;
      margin-bottom: 0.3rem;
    }
  
    &__form {
      display: flex;
      align-items: center;

      @include mobile {
        flex-direction: column;
        // justify-content: center;
      }

      @include tablet {
        flex-direction: row;
      }
    }
  
    &__input {

      border: 2px solid #E1E1E1;
      background-color: #FAFAFA;

      &:focus {
        border: 2px solid #0095FF;
        outline: none;
    }
    }

    &__comment-wrapper {
      display: inline-flex;
      justify-content: space-evenly;
      align-items: center;
      background-color: #0095FF;
      margin-left: 0.5rem;
      height: 40px;
      border-radius: 4px;


      &:hover {
        background-color: #0065AD;
      }
    }
  
    &__comment-icon {
      // background-color: #0095FF;
      padding-left: 10px;
    }
  
    &__comment-text {
      color: white;
      align-items: center;
      width: 100px;
      padding: 0px 20px 0px 32px;
    }
  
  }