.comments {
    display: flex;
    flex-direction: column;
    margin-left: 175px;
    margin-bottom: 50px;

    &__container {
        display: flex;
    }

    // &__image-div {
    //     display: inline-flex;
    //     align-items: center;
    //     margin-right: 2rem;
    // }

    // &__image {
    //     border-radius: 50%;
    //     height: 2.5rem;
    //     width: 2.5rem;
    //     background-color: #E1E1E1;
    // }
    
    &__content-div {
        display: inline-flex;
        flex-direction: column;
    }

    &__detail {
        display: flex;
        justify-content: space-between;
        width: 80%;
    }

    &__detail-content {
        display: inline-flex;

        &--left {
            justify-content: flex-start;
        }

        &--right {
            justify-content: flex-end;
        }
    }
}