@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/fonts" as *;

.comments {
    display: flex;
    flex-direction: column;

    @include mobile {
        margin-left: 1.25rem;
        border-bottom: 2px solid #e1e1e1;
    }

    @include tablet {
        margin: 0rem 2rem;
        border-bottom: 2px solid #e1e1e1;
        font-size: 0.9rem;
    }

    @include desktop {
        margin-left: 2.2rem;
        margin-bottom: 3.125rem;
        border-bottom: 0px;
    }

    &__container {
        display: flex;
        padding-bottom: 1rem;
        border-top: 2px solid #e1e1e1;
    }

    &__content-div {
        display: inline-flex;
        flex-direction: column;
        width: 100%;
    }

    &__detail {
        display: flex;
        justify-content: space-between;

        @include mobile {
            width: 90%;
        }

        @include tablet {
            width: 100%;
        }
    }


    &__detail-content {
        display: inline-flex;

        &--left {
            justify-content: flex-start;
            font-weight: 700;
        }

        &--right {
            justify-content: flex-end;
        }
    }

    &__comment {
        margin-right: 1rem;
    }

    &__delete {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    &__delete-button {
        justify-content: center;
        align-items: center;
        background-color: #0095FF;
        color: #ffffff;
        font-weight: 700;
        height: 2.5rem;
        border-radius: 4px;
        border: 0px;
        width: 10%;

        @include mobile {
            width: 26%;
            margin-right: 1rem;
        }

        &:hover {
            background-color: #0065AD;
        }
    }
}