@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/fonts" as *;

.header {
    display: flex;

    border: 1px solid black;

    &__container {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        @include mobile {
            flex-direction: column;
        }

        @include tablet {
            flex-direction: row;
            height: 75px;
        }

        @include desktop {
            height: 100px;
        }
    }

    &__content {

        display: inline-flex;
        align-items: center;
    
        &--left {
            justify-content: flex-start;

            @include tablet { 
                margin: 0px;
            }

            @include desktop {
            width: 40%;
            }
        }

        &--right {
            justify-content: center;

            @include desktop {
            width: 60%;
            }
        }
    }

    &__logo-wrapper {
        display: inline-flex;

        @include mobile {
            margin: 3rem auto 1rem auto;
        }

        @include tablet {
            margin: 3rem;
    }
    }

    &__search-wrapper {
        display: inline-flex;
        margin: 3rem;
    }

    &__search-bar {
        background: url(http://localhost:3000/static/media/search.b2de04b….svg) no-repeat scroll 8px 10px;
        padding-left: 35px;
        height: 35px;
        width: 200px;
        border-radius: 6px;
    }

    &__upload-wrapper {
        display: inline-flex;
        justify-content: space-evenly;
        align-items: center;
        background-color: #0095FF;
        height: 40px;

        &:hover {
            background-color: #0065AD;
        }
    }

    &__upload-image {
        // background-color: #0095FF;
    }

    &__upload-text {
        color: white;
        align-items: center;
    }

    // &__login-wrapper {
    //     display: inline-flex;
    // }

    // &__login-image {
    //     border-radius: 50%;
    //     height: 2.5rem;
    //     width: 2.5rem;
    //     margin-left: 3rem;
    // }
}