@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/fonts" as *;

.avatar {

    &__wrapper {
        display: inline-flex;
    }

    &__image {
        border-radius: 50%;
        height: 2.5rem;
        width: 2.5rem;

        &--header {
            margin-left: 3rem;

            @include mobile {
                display: none;
            }

            @include tablet {
                display: flex;
                margin-left: 1.5rem;
            }
        }

        &--alternate-header {

            margin-left: 0.6rem;

            @include mobile {
                display: inline-flex;
            }

            @include tablet {
                display: none;
            }
        }

        &--form {
            margin-top: 2rem;
        }

        &--comments {
            background-color: #E1E1E1;
            margin-top: 1rem;
            margin-right: 1rem;
        }
    }
}