@use "./styles/partials/variables" as *;
@use "./styles/partials/mixins" as *;
@use "./styles/partials/fonts" as *;

.App {
//   text-align: center;
display: flex;
flex-direction: column;
color: #323232;
font-size: 0.78rem;
font-family: "AvenirNext LT Pro", "Sans Serif";
box-sizing: border-box;
margin: 0px;
}

.sidebar-container {

    @include mobile {
        display: flex;
        flex-direction: column;
    }

    @include tablet {
        display: flex;
        flex-direction: column;
    }

    @include desktop {
    display: inline-flex;
    flex-direction: row;
}
}

.sidebar {

    &--left {
        @include mobile {
            width: 100%;
        }

        @include tablet {
        width: 100%;
    }

    @include desktop {
        width: 60%;
    }
    }

    &--right {
        @include mobile {
            width: 100%;
            // border-top: 2px solid #e1e1e1;
        }

        @include tablet {
            width: 100%;
            margin-left: 1.8rem;
            // border-top: 2px solid #e1e1e1;
        }

        @include desktop {
        width: 40%;
        border-left: 1px solid #e1e1e1;
        margin-left: 0rem;
        // border-top: 0px;
        }
    }
}
