@use "./styles/partials/variables" as *;
@use "./styles/partials/mixins" as *;
@use "./styles/partials/fonts" as *;

.App {
//   text-align: center;
display: flex;
flex-direction: column;
}

.sidebar-container {
    display: inline-flex;

}

.sidebar {

    &--left {
        width: 60%;
    }

    &--right {
        width: 40%;
    }
}
